body ,h1{
  background: #333;
  color: #eee;
  font-family: copperplate, sans-serif;
}
input, select, p {
  border: none;
  display: inline-block;
  font-size: 14px;
  outline: none;

}
input {
  border: none;
  background: transparent;
  margin-bottom: 10px;
  min-width: 60%;
  padding: 6px 12px;
}
input#new-todo {
  border: 2px solid #999;
}

input[ng-model="searchTodo"] {
  margin-bottom: 0;
  padding-left: 0;
  width: 200px;
}
input[ng-model="todo.task"] {
  border-left: 1px solid #ddd;
}
a {
  color: #900;
}
a[href=""]:hover {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  
}
.count {
  border: 1px solid #ddd;
  display: inline-block;
  margin-bottom: 15px;
  padding: 6px 12px;
}
.dashboard {
  margin-bottom: 10px;
}
.form-ctrl {
  color: #fff;
  width: 100%;
}
.glyphicon {
  margin: 0px;
}
.search-box {
  border: 1px solid #ddd;
  float: right;
  margin-top: 20px;
  padding: 0 6px; 
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0px;
  border-bottom: 1px solid #ccc;
}
select {
  background: transparent;
  border-radius: none;
  text-align: center;
  -webkit-appearance: none;
  width: 70px;
}
select.do {
  border-bottom: 5px solid green;
}
select.doing {
  border-bottom: 5px solid #ff0;
}
select.done {
  border-bottom: 5px solid #ccc;
}


@media (max-width: 500px) {
  .glyphicon {
    margin-top: 4px;
  }
  input[ng-model="searchTodo"] {
    display: none;
    width: 100%;
  }
  .search-box:hover,
  .search-box.foo {
    float: none;
  }
  .search-box:hover .glyphicon,
  .glyphicon.foo {
    display: none;
  }
  .search-box:hover input,
  input:focus {
    display: inline-block;
  }
}







