<!DOCTYPE html>
<html ng-app>
<head>
	<meta name="viewport" content="initial-scale=1">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Lato:400,700' rel='stylesheet' type='text/css'>	<title>My Todo List | AngularJS</title>
</head>

<body ng-controller="TodoCtrl">

	<!-- *******************************************************
	Header 
	********************************************************  -->
	<header id="header">
		<!-- Top Bar - Search Box -->
		<div class="top-bar">
			<div class='search-box'>
				<span class="glyphicon glyphicon-search"></span>
				<input type="text" placeholder="Search..." class="form-ctrl" ng-model="searchTodo" ng-keydown="kyd($event)">
			</div>
		</div>

		<!-- Heading -->
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">
				<h1>To Do List</h1>
			</div>
		</div>
		
	</header>

	<!-- *******************************************************
	Dashboard 
	********************************************************  -->
	<!-- <section id="dashboard" class="line">
		<div class="left-margin">&nbsp;</div>
		<div class="line-space">
			<ul class="tabs">
				<li class="tab total"><span class="count">{{ todos.length }}</span> Total</li>
				<li class="tab in-progress"><span class="count">{{ (todos | filter:{status:'doing'}).length }}</span> In Progress</li>
				<li class="tab done"><span class="count">{{ (todos | filter:{status:'done'}).length }}</span> Done</li>
			</ul>
		</div>
	</section> -->

	<!-- <div class="line gutter">
		<div class="left-margin">&nbsp;</div>
		<div class="line-space">
			<h2>All To Dos</h2>	
			<span class="glyphicon glyphicon-option-vertical"></span>
		</div>
	</div> -->

	<!-- *******************************************************
	Todo Items 
	********************************************************  -->
	<section id="todo-list-items">
		<ul>
			<li ng-repeat="todo in todos | filter: notDone | filter: searchTodo" class="todo-list-item line">
				<div class="status left-margin" ng-click="isMenuOpen = !isMenuOpen" ng-class="todo.status">
					<span>{{todo.status}}</span>
					<span class="glyphicon glyphicon-option-vertical"></span>
					<div ng-show="isMenuOpen" id="replyForm" class="status-menu">
						<ul ng-class="{{todo.status}}">
							<li ng-click="updateTodoStatus(todo, 'do' )" class="do">Do</li>
							<li ng-click="updateTodoStatus(todo, 'doing')"  class="doing">Doing</li>
							<li ng-click="updateTodoStatus(todo, 'done')"  class="done">Done</li>
						</ul>
					</div>
				</div>

				<div class="todo-description line-space">
					<!-- <form ng-submit="updateTodoStus($index)"> -->
						<input ng-class="todo.status" type="text" ng-model="todo.task" maxlength="30"><span ng-click="removeTodo(todo)" class="glyphicon glyphicon-remove-sign"></span>
					<!-- </form> -->
					
				</div>

			</li>
		</ul>
	</section>

	<!-- *******************************************************
	Add Todo Form 
	********************************************************  -->
	<section id="add-todo" class="line">
		<div class="left-margin">
			<span ng-click="addTodo($event)" class="glyphicon glyphicon-plus"></span>
		</div>
		<div class="line-space">
			<form name="myForm" class="form-container" ng-submit="addTodo(newTodo) ">
				<input type="text" name="input" placeholder="Add new task..." class="form-ctrl" id="new-todo" ng-model="newTodo">
			</form>
		</div>
	</section>

	<div class="todo-list-margin">
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
	</div>

	<!-- *******************************************************
	Done Items
	********************************************************  -->
	<section id="done">
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">
				<h2>Done</h2>
			</div>
		</div>

		<div ng-repeat="todo in todos | filter:{status: 'done'}" class="line">
			<div class="status left-margin" ng-click="isMenuOpen = !isMenuOpen" ng-class="todo.status">
				<span>{{todo.status}}</span>
				<span class="glyphicon glyphicon-option-vertical"></span>
				<div ng-show="isMenuOpen" class="status-menu">
					<ul ng-class="{{todo.status}}">
						<li ng-click="updateTodoStatus(todo, 'do' )" class="do">Do</li>
						<li ng-click="updateTodoStatus(todo, 'doing')"  class="doing">Doing</li>
						<li ng-click="updateTodoStatus(todo, 'done')"  class="done">Done</li>
					</ul>
				</div>
			</div>
			<div class="line-space todo-description">
				<input ng-class="todo.status" type="text" ng-model="todo.task" maxlength="30">
				<span ng-click="removeTodo(todo)" class="glyphicon glyphicon-remove-sign"></span>
			</div>
		</div>
	</section>









	<div class="todo-list-margin">
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
		<div class="line">
			<div class="left-margin" ng-click="undoRemove()">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
	</div>
	<div id="undo-option" ng-show="undoVisible">
		Item deleted  <span id="undo" ng-click="undoRemove()">Undo</span>
	</div>
	

	






	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script data-require="angular.js@1.0.x" src="http://code.angularjs.org/1.2.10/angular.min.js" data-semver="1.0.7"></script>
	<script src="js/main.js"></script>
</body>
</html>