<!DOCTYPE html>
<html ng-app>
<head>
	<meta name="viewport" content="initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Lato:400,700' rel='stylesheet' type='text/css'>	<title>My Todo List | AngularJS</title>
</head>

<body ng-controller="TodoCtrl">
<div class="body-container">

	<!-- *******************************************************
	Header 
	********************************************************  -->
	<header id="header">
		<div class="top-bar">
			<div class='search-box'>
				<span class="glyphicon glyphicon-search"></span>
				<input 
				  ng-model="searchTodo"
				  class="form-ctrl" 
				  placeholder="Search..."
				  type="text">
			</div>
		</div>
	</header>

	<!-- *******************************************************
	Lists view 
	********************************************************  -->
	<section id="lists" ng-show="curView == 'lists'">
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">
				<h1>Notes</h1>
			</div>
		</div>
		<ul>
			<li 
			  ng-repeat="list in lists" 
			  ng-click="goToList(list)" 
			  class="list-preview">
				<div class="">
					<div class="list">
						<h2 ng-show="list.title">{{list.title}}</h2>
						<ul>
							<li ng-repeat="todo in list.todos | filter:notDone | limitTo:2">
								{{todo.task}}
							</li>
						</ul>	
					</div>
				</div>
			</li>
		</ul>	
	</section>

	<!-- *******************************************************
	List view 
	********************************************************  -->

		  
	<section ng-show="curView == 'list'" ng-click="closeMenu()" class="section-list">
		<div 
		  ng-repeat="list in lists" 
		  ng-show="curList==list"
		  class="list-view">
			<div class="line">
				<div ng-click="goToLists()" class="left-margin">
					<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;
				</div>
				<div class="line-space">
					<h2>
						<input 
						  ng-model="list.title" 
						  type="text" 
						  placeholder="Title">			
					</h2>
				</div>
			</div>
		
			<!-- <div class="line">
				<div class="col-label left-margin">Status</div>
				<div class="col-label line-space">Description</div>
			</div> -->
			<div class="line">
				<div class="col-label left-margin">&nbsp;</div>
				<div class="col-label line-space">&nbsp;</div>
			</div>

			<!-- *******************************************************
			Todo Items 
			********************************************************  -->
			<article class="todo-list-items">
				<ul>
					<li 
					  ng-repeat="todo in list.todos | filter: notDone | filter: searchTodo" 
					  class="todo-list-item line">
						<div 
						  class="status left-margin" 
						  ng-click="toggleMenu(todo, $event)" 
						  ng-class="todo.status">
							<span>{{todo.status}}</span>
							<span class="glyphicon glyphicon-option-vertical"></span>
							<div ng-show="list.openMenu == todo" class="status-menu">
								<ul>
									<li ng-click="updateStatus(todo, 'do', $event)" class="do">Do</li>
									<li ng-click="updateStatus(todo, 'doing', $event)" class="doing">Doing</li>
									<li ng-click="updateStatus(todo, 'done', $event)" class="done">Done</li>
								</ul>
							</div>
						</div>

						<div class="todo-description line-space">
							<input 
							  ng-class="todo.status" 
							  type="text" 
							  ng-model="todo.task" 
							  maxlength="30">
							<span ng-click="removeTodo(list, todo)" class="glyphicon glyphicon-remove-sign"></span>
						</div>

					</li>
				</ul>
			</article>
		</div>

		<!-- *******************************************************
		Add Todo Form 
		********************************************************  -->

		<article class="add-todo line">
			<div class="left-margin">
				<span ng-click="addTodo()" class="glyphicon glyphicon-plus"></span>
			</div>
			<div class="line-space">
				<form 
				  name="myForm{{$index}}" 
				  class="form-container" 
				  ng-submit="addTodo(newTodo)">
					<input 
					  type="text" 
					  placeholder="Add new task..." 
					  class="new-todo" 
					  ng-model="newTodo">
				</form>
			</div>
		</article>


		<!-- *******************************************************
		Done Items
		********************************************************  -->
		<div 
		  ng-repeat="list in lists"
		  ng-show="curList==list"
		  class="list-view">
			<article class="done">
				<div class="line">
					<div class="left-margin">&nbsp;</div>
					<div class="line-space">
						<h2>Done</h2>
					</div>
				</div>

				<div ng-repeat="todo in list.todos | filter:{status: 'done'}" class="line">
					<div 
					  ng-click="toggleMenu(todo, $event)"
					  ng-class="todo.status"
					  class="status left-margin">
						<span>{{todo.status}}</span>
						<span class="glyphicon glyphicon-option-vertical"></span>
						<div ng-show="list.openMenu == todo" class="status-menu">
							<ul ng-class="{{todo.status}}">
								<li ng-click="updateStatus(todo, 'do', $event)" class="do">Do</li>
								<li ng-click="updateStatus(todo, 'doing', $event)" class="doing">Doing</li>
								<li ng-click="updateStatus(todo, 'done', $event)" class="done">Done</li>
							</ul>
						</div>
					</div>
					<div class="line-space todo-description">
						<input ng-class="todo.status" type="text" ng-model="todo.task" maxlength="30">
						<span ng-click="removeTodo(list, todo)" class="glyphicon glyphicon-remove-sign"></span>
					</div>
				</div>
			</article>
		</div>
	</section>


	<div class="todo-list-margin">
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
	</div>


	<div class="todo-list-margin">
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
		<div class="line">
			<div class="left-margin" ng-click="undoRemove()">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
		<div class="line">
			<div class="left-margin">&nbsp;</div>
			<div class="line-space">&nbsp;</div>
		</div>
	</div>
	<div id="undo-option" class="group" ng-show="undoVisible">
		Item deleted  <span id="undo" ng-click="undoRemove()">Undo</span>
	</div>
	

	






	<script src="https://code.jquery.com/jquery-latest.js"></script>
    <script data-require="angular.js@1.0.x" src="https://code.angularjs.org/1.2.10/angular.min.js" data-semver="1.0.7"></script>
	<script src="js/main.js"></script>
</div>
</body>
</html>